body {
  /*background: url("images/sadeyun.jpg");*/
  background-size: cover;
  background-color: #cccccc;
  text-align: center;
}
h1{
  margin-top: 300px;
  font-size: 65px;
}
p{
  font-size: 30px;
}

button{
  padding: 18px;
}
