body {
  /*background: url("images/sadeyun.jpg");*/
  background-size: cover;
  background-color: #cccccc;
  text-align: center;
}
#name{
    margin-top: 300px;
}
h1 {
  font-size: 95px;
  font-family: Tahoma;
  font-weight: bold;

}
h1 span {
    border: 5px solid #000;
}
p {
  font-size: 25px;
}
ul{
  font-size: 35px;
}

button{
  padding: 18px;

}
nav{
  background-color: #757575;
}

footer{
  background-color: #757575;
}
#links{
  padding: 30px;
}
.parallax-container {
  height:
  width: 100%;


    }

.material-icons{
  margin-bottom: auto;
}
.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}
